<div class="container">
    <h1>Info: </h1>

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="75%" fxFlex.md="60%" fxFlex.lg="50%">
            <mat-card>
                <img mat-card-image src="assets/drink.jpg" alt="Drink https://unsplash.com">
        
                <mat-card-content>
                    <p>
                        I've created this web application as part of a school project in web development. The applications frontend is realized with Angular and the backend API with the PHP framework Slim. The data is stored in a relational MariaDB database. The idea for drink recommendations came due to personal interests in data analysis. <br> <br>
                        To build the comparison and similarity measurements, I've taken some inspiration from Ozan Genç's blog. You can check it out here: <a href="https://medium.com/analytics-vidhya/give-me-a-drink-cocktail-recommender-eee628cf65be">Give me a drink, Cocktail Recommender</a> <br><br>
                        I've used the following sources to gather the drinks data: <a href="https://www.thecocktaildb.com/">TheCocktailDB</a> and <a href="https://www.kaggle.com/jenlooper/mr-boston-cocktail-dataset">Kaggle</a> <br>
                    </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button onclick="window.open('mailto:hello@gabormuff.info')">E-MAIL ME</button>
                    <button mat-button onclick="window.open('https://github.com/gab-m-dev/drinkRecommender')">GITHUB</button>
                  </mat-card-actions>
                
        
            </mat-card>
        </div>
    </div> 

</div>


