<mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/search']">
        <h1><i>gabor's </i>DrinkRecommender</h1>
    </button>
    
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['/login']" *ngIf="!loggedIn()">
        <span>Login</span>
    </button>
    <button mat-icon-button [routerLink]="['/login']" [state]="{logout: true} " *ngIf="loggedIn()">
        <span>Logout</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/search']">
          <span>Search</span>
        </button>
        <button mat-menu-item (click)="drinksOnClick()">
          <span>Random drinks</span>
        </button>
        <button mat-menu-item [routerLink]="['/usagedata']">
            <span>Usage data</span>
        </button>
        <button mat-menu-item [routerLink]="['/info']">
            <span>Info</span>
        </button>
    </mat-menu>


</mat-toolbar>

<router-outlet></router-outlet>