div.container {
    margin: 2%;
    margin-right: 5%;
    margin-left: 5%;
  }

.mat-divider-horizontal{
  position: sticky !important;
  margin-bottom: 12px;
}


.mat-card{
  /*text-align: center;*/
}