.container {
    margin: 5%;
}

.container > form {
    display: flex;
    flex-direction: column;
}

.container > form > * {
    width: 100%;
    margin-top:20px;
 }

.container > form > button {
    width: 10%;
}
 .container .mat-radio-button {
    margin: 0 12px;
  }

.container > label {
    margin-top:12px;
}
.container .mat-radio-group {
    margin-top:12px;
}